html {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 70%;
  margin: auto;
  text-align: center;
  /*text-align: center;*/
}

#game {
  font-family: monospace;
  font-size: 8em;
  display: inline-block;
  margin: 0;
}
